path {
	fill: rgb(224, 186, 160);
}

.postion-code{
    justify-content: center;
}


.first {
	margin-top: 2rem;
    padding-top: 100px;
}
.code {
	display: flex;
	background: white;
	/* background: rgb(255, 190, 147) !important; */
	padding-top: 15px;
	padding-bottom: 15px;
	margin-left: 3%;
	border-radius: 10px;
	width: 90%;
	border-color: rgb(255, 190, 147) !important;
	border-style: solid;
	
}

*{
    margin: 0;
    padding: 0;
    margin-bottom: 0 !important;
}
.pie-img{
    width: 50 !important; 
    height: 100px !important;
}

div.gallery {
    border: 1px solid #ccc;
    justify-items: center;
}
  
div.gallery:hover {
    border: 1px solid #777;
}
  
div.gallery img {
    width: 100%;
    height: auto;
}
  
div.desc {
    padding: 15px;
    text-align: center;
}

  .responsive {
    padding: 0 6px;
    float: center;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
