
.first {
	margin-top: 2rem;
    padding-top: 100px;
}
.code {
	display: flex;
	background: rgb(255, 190, 147) !important;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-left: 3%;
	border-radius: 5px;
	width: 90%;
}

*{
    margin: 0;
    padding: 0;
    margin-bottom: 0 !important;
}